* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --background: rgb(232, 252, 252);
    --primary: #00adad;
    --button: linear-gradient(
        0deg,
        rgb(1, 116, 116) 0%,
        rgb(95, 253, 253) 100%
    );
    --shadow: 0 0 3px var(--primary);
}

body {
    min-height: 100vh;
}

nav ul {
    list-style: none;
}

/* HEADER */

header {
    box-shadow: 0 0 3px var(--primary);
    color: var(--primary);
}

header form {
    width: fit-content;
    box-shadow: var(--shadow);
}

header form label {
    display: none;
}

header form input {
    padding: 0.3rem;
    outline: none;
    border: none;
}

header form button {
    border: none;
    background: var(--button);
    color: white;
    padding: 0.2rem;
    font-weight: bold;
}

header ul a {
    display: inline-block;
    font-size: 0;
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
}

header ul a[href*="wishlist"] {
    background-image: url("./icons/user.png");
}

header ul a[href*="cart"] {
    background-image: url("./icons/cart.png");
}
header ul a[href*="profile"] {
    background-image: url("./icons/user\ \(1\).png");
}

/* NAV*/

body > nav ul li {
    width: 100%;
}

body > nav ul a {
    text-align: center;
    color: var(--primary);
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
}

body > nav ul a:hover {
    background: var(--background);
}

/* MAIN */

main {
    background: var(--background);
    padding: 1rem;
}

article {
    background: white;
    box-shadow: var(--shadow);
    width: 10rem;
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
}

article img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

article *:not(img) {
    margin: 0.5rem 1rem;
}

article p.price {
    text-align: right;
}

/* FOOTER */

footer a {
    color: var(--primary);
    width: max-content;
}

/* MEDIA QUERY */
@media (min-width: 600px) {
    /* HEADER */

    header {
        z-index: 1;
        padding: 0 2rem;
    }

    /* NAV */

    body > nav {
        padding-top: 1rem;
    }

    body > nav ul a {
        text-align: left;
        padding-left: 0.5rem;
    }
}

/*mi parte*/

body {
    display: grid;
    grid-template-rows: 10rem 2rem auto 2rem;
}

/*HEADER*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

header > nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

header > nav > ul > li {
    display: flex;
}

/*ANTES DEL MAIN */

nav > menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

nav > menu > li {
    list-style: none;
}

nav > menu > li > a {
    text-decoration: none;
    color: var(--primary);
}

/*Main*/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    gap: 2rem;
}

@media (min-width: 1200px) {
    body {
        width: 100%;
        grid-template-rows: 5rem auto 2rem;
        grid-template-columns: 10rem auto;
    }

    header {
        grid-column-start: 1;
        grid-column-end: 3;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2rem;
    }

    body > nav > menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0.5rem;
        gap: 1.4rem;
    }

    main {
        justify-content: space-evenly;
    }

    footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
