* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header > nav {
    background-color: #535353;
    padding: 0.3rem;
}

header > nav > ul > li {
    display: inline-block;
    margin: 10px;
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 2rem;
    word-spacing: 10px;
}

/* BODY */

img {
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

div > p {
    margin: 3rem;
}

div > p:last-child {
    background-color: rgba(255, 174, 0, 255);
    margin: 0 840px;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

div > p > a {
    color: white;
    text-decoration: none;
}

/* FOOTER */

footer {
    color: white;
    background-color: rgba(0, 29, 46, 255);
    position: fixed;
    bottom: 0;
    padding: 30px;
    width: 100%;
}

footer > p {
    margin-top: 20px;
}

footer > p:last-of-type {
    background-color: rgba(255, 174, 0, 255);
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 740px;
}

footer > p > a {
    color: white;
    text-decoration: none;
}
