* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

svg {
    fill: gray;
}

/* Crea a partir de aquí tu CSS */

.like {
    animation: corazoncito 0.5s;
    animation-fill-mode: forwards;
}

@keyframes corazoncito {
    0% {
        transform: scale(1);
        fill: red;
    }

    25% {
        transform: scale(1.5);
        fill: red;
    }

    50% {
        transform: scale(1);
        fill: red;
    }

    75% {
        transform: scale(1.5);
        fill: red;
    }

    100% {
        transform: scale(1);
        fill: red;
    }
}
