* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --h1_h2_tabla: rgb(113, 173, 230);
    --color_tabla_1: rgb(215, 229, 255);
    --color_tabla_2: rgb(170, 198, 250);
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

h1 {
    background-color: var(--h1_h2_tabla);
    color: white;
    margin: 5px;
    padding: 0 100px;
    width: 350px;
}

/*MAIN*/
/*SECTION 1*/

section > h2 {
    color: var(--h1_h2_tabla);
    margin: 1rem 5px;
}

section > ul > li {
    list-style: circle;
    margin-left: 47px;
    font-weight: 100;
}

section > ul > .importante {
    text-decoration: underline;
    font-weight: bold;
}

/*SECTION 2 o TABLA*/
section > table {
    margin: 1rem 5px;
}

table > thead > tr > th {
    background-color: var(--h1_h2_tabla);
    padding: 5px;
    font-weight: bold;
    color: white;
    text-align: center;
}

tbody th {
    padding: 5px;
}

tbody td {
    padding: 5px;
}

tbody > tr:nth-child(even) {
    background-color: var(--color_tabla_2);
}

tbody > tr:nth-child(odd) {
    background-color: var(--color_tabla_1);
}

tbody > tr:first-child > th:first-child,
tr:nth-child(3) > th:first-child {
    background-color: rgba(163, 193, 247, 0.5);
}

/* La línea de arriba es una mezcla de estas dos; casi no se aprecia
   el cambio de color, pero es distinto.

tbody > tr:first-child > th:first-child {
    background-color: rgba(163, 193, 247, 0.5);
}
tbody > tr:nth-child(3) > th:first-child {
    background-color: rgba(163, 193, 247, 0.5);}*/

#descanso {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
