/* PRIMERA LISTA */

.lista li:last-child {
    background-color: rgb(0, 0, 255);
}

.lista li:nth-child(odd) {
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 0);
}

.lista > li {
    display: inline-block;
    margin: 10px;
}

.lista > li:nth-child(1)::after {
    content: "\1F630";
}

.lista > li:nth-child(2)::after {
    content: "\1F637";
}

.lista > li:nth-child(3)::after {
    content: "\1F92F";
}

.lista > li:nth-child(4)::after {
    content: "\26BD";
}

.lista > li:nth-child(5)::after {
    content: "\1F3AE";
}

.lista > li:nth-child(6)::after {
    content: "\1F3A7";
}

.lista [lang="en"] {
    text-transform: uppercase;
    font-size: 2rem;
}

/* SEGUNDA LISTA */

#provincias > li:not(:nth-child(2)) {
    list-style-type: upper-roman;
}
