* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    --color_gris: rgb(111, 111, 111);
}

/*Header*/

body > header {
    background-color: black;
    color: white;
    padding: 3.5rem 8rem 2rem 1.5rem;
}

header > h1 {
    font-size: 50px;
}

header > h2 {
    font-weight: normal;
    padding: 0.3rem;
    font-size: 39px;
}

header > p {
    padding: 0.3rem;
    font-size: 14px;
}

/*MAIN**SECTION*/

main {
    padding: 1rem 10rem;
}

#section > h3 {
    color: var(--color_gris);
    font-size: 25px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 0.5rem;
}

section > p {
    padding: 1rem 0;
    font-size: 14px;
}

section > p:last-child {
    padding: 0;
    margin-right: 1%;
    padding-bottom: 1.5rem;
}

section > img {
    float: right;
    height: 50%;
    width: 50%;
    margin: 1rem 0 1rem 1rem;
}

/*FORM*/

#form > h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 1);
    color: var(--color_gris);
    font-size: 25px;
    padding-bottom: 0.5rem;
}

section > form > div {
}

label {
    font-size: 10px;
    font-weight: bold;
    display: block;
    padding-top: 10px;
}

input {
    width: 100%;
    height: 25px;
    background-color: var(--color_gris);
    border: none;
    margin: 5px 0;
}

textarea {
    background-color: var(--color_gris);
    border: none;
    width: 100%;
    height: 120px;
    margin: 5px 0;
    resize: none;
}

form > button {
    background-color: black;
    border: none;
    color: white;
    width: 50px;
    height: 20px;
    font-size: 8px;
    margin: 8px 0;
}
